<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script type="importmap">
        {
          "imports": {
            "@google/generative-ai": "https://esm.run/@google/generative-ai"
          }
        }
    </script>
    <script type="module">
        import { GoogleGenerativeAI } from "@google/generative-ai";

        // Fetch your API_KEY
        const API_KEY = "AIzaSyDFHfRkIV9d7aMH1rBESlox25jrKmZtwWg";

        // Access your API key (see "Set up your API key" above)
        const genAI = new GoogleGenerativeAI(API_KEY);

        const model = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
        //window.myModel = genAI.getGenerativeModel({ model: "gemini-1.5-flash" });
        localStorage.setItem('myModel', JSON.stringify(model));
        async function run() {
            const prompt = "Write a story about an AI and magic"

            const result = await model.generateContent(prompt);
            const response = await result.response;
            const text = response.text();
            console.log(text);
        }
    </script>
</body>
</html>