@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="banner-image">
        <img src="~/Content/static/pic/nursing-home-vector-20430179.jpg" alt="ASP.NET Banner" class="img-fluid">
    </div>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ElderlyCare Hub</h1>
        <p class="lead">"ElderlyCare Hub" is a comprehensive platform dedicated to providing compassionate and professional care services for seniors. Our mission is to create a nurturing environment where elderly individuals can thrive and receive personalized care tailored to their unique needs. Whether it's assisted living, memory care, or rehabilitation services, ElderlyCare Hub is committed to enhancing the quality of life for seniors through expert caregiving, holistic wellness programs, and a supportive community atmosphere. Join us in creating a place where aging is embraced with dignity, respect, and comfort.</p>
        <p><a href="@Url.Action("index", "Front")" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>

